<!DOCTYPE html>
<!--                         ___
                         __/_  `.  .-"'"-.
Author: David Calabrese \_,` | \-'  /   )`-')
Date: 11/30/2021         "") `"` DC  \  ((`"`
                       ___Y  ,    .'7 /|
                     (_,___/...-` (_/_/ -->
<html lang="en">
  <head>
    <%- include('./partials/head.ejs'); %>
  </head>
  <body>
    <header><%- include('./partials/header.ejs'); %></header>
    <section><%- include('./partials/form.ejs'); %></section>

    <div class="row">
      <div class="col-12 col-sm-6 mt-4" id="weather-output">
        <h2 class="display-5 text-center small" id="weather-header">Weather</h2>
        <div class="container d-flex align-items-center justify-content-center flex-column">
          <div class="card mt-2 p-2" id="weather-card" style="width: 19rem">
            <img src="img/<%= icon %>" class="card-img-top" alt="" />
            <div class="card-body">
              <h5 class="card-title"><%= city %>, <%= state %></h5>
              <p class="card-text"><%= temperature %>°F</p>
              <p class="card-text"><%= humidity %>% humidity</p>
              <p class="card-text"><%= description %></p>
            </div>
          </div>
        </div>
      </div>
      <!-- end col-12 -->

      <div class="col-12 col-sm-6 mt-4" id="alert-output">
        <h2 class="display-5 text-center small" id="alert-header">Alerts</h2>
        <div class="container d-flex align-items-center justify-content-center flex-column">
          <div class="card mt-2" id="alert-card" style="width: 19rem">
            <img src="img/alert-icon.png" id="triangle" class="card-img-top" alt="alert" />
            <div class="card-body">
              <h5 class="card-title text-danger" id="alert-title" title="<%= description %>">
                <%= event %><i class="fas fa-mouse-pointer"></i>
              </h5>
              <p class="card-text mb-0"><%= severity %></p>
              <p class="card-text mb-0"><%= starts %></p>
              <p class="card-text"><%= ends %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
